.banner {
  display: flex;
  align-items: center;
  padding-top: 50px;
  &-info {
    width: 35%;
  }
  &-image {
    width: 65%;
    transform: translateX(50px);
  }
  &-heading {
    font-size: 60px;
    line-height: 1.4;
    margin-bottom: 40px;
  }
  &-desc {
    font-weight: 300;
    line-height: 1.5;
    color: $gray-blur;
  }
  &-heading span {
    display: block;
  }
  &-links {
    .button:first-child {
      margin-right: 40px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  @media screen and (max-width: 1279.98px) {
    &-heading {
      font-size: 45px;
    }
    &-links {
      .button {
        padding: 15px 20px;
      }
      .button:first-child {
        margin-right: 5px;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
    &-desc {
      margin-bottom: 30px;
    }
  }
  @media screen and (max-width: 1023.98px) {
    flex-direction: column;
    & > * {
      width: 100%;
    }
    &-image {
      transform: none;
    }
  }
  @media screen and (max-width: 767.98px) {
    &-heading {
      font-size: 42px;
      span {
        display: unset;
      }
    }
  }
}
