.started {
  max-width: 900px;
  margin: 0 auto 50px;
  background-color: #fbfbfb;

  border-radius: 20px;
  position: relative;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  *:not(img) {
    position: relative;
    z-index: 100;
  }
  &-heading {
    margin-bottom: 30px;
  }
  &-desc {
    max-width: 245px;
    margin-bottom: 50px;
    color: $gray;
  }
  &-comment {
    position: absolute;
    bottom: 50px;
    left: 50px;
  }
  &-smile {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%, -30%);
  }
  @media screen and (max-width: 767.98px) {
    &-smile {
      max-width: 20%;
    }
    &-comment {
      max-width: 20%;
    }
  }
}
